<div id="wrapper" class="aside-fixed header-fixed"
      ng-controller="DashboardController"  >
  <aside id="aside" class="navbar vertical-top"  >
    <nav nav-scroll>
      <div class="nav-header">
        <a class="nav-coverphoto" ui-sref="user.datos"></a>
        <div class="profile-element text-align-left">
          <a ui-sref="user.datos" class="display-inline" >
            <span class="sub-title">
              {{ nickname }}
            </span>
          </a>
        </div>
      </div>
      <ul class="nav" id="side-menu" nav-collapse>
        <li
          data-ng-class="{open: $state.includes('create')}" ng-hide="role == 'Customer'">
          <a href="" toggle-submenu>
            <span class="inner">
              <ng-md-icon class="fa fa-pencil icono"></ng-md-icon>
              <span class="nav-label">Crear Reporte</span>
              <ng-md-icon class="fa fa-chevron-right arrow"></ng-md-icon>
            </span>
          </a>
          <ul class="nav nav-second-level">
            <li><a
            ui-sref="create.activacion"
            ui-sref-active="active"
            >Activación</a></li>
            <li><a
            ui-sref="create.campana"
            ui-sref-active="active"
            >Campaña</a></li>
            <li><a
            ui-sref="create.evento"
            ui-sref-active="active"
            >Evento</a></li>
            <li><a
            ui-sref="create.expense"
            ui-sref-active="active"
            >Gasto</a></li>
          </ul>
        </li>
        <li
        data-ng-class="{open: $state.includes('reports')}"
        >
          <a href="">
            <span class="inner">
              <ng-md-icon class="fa fa-list icono"></ng-md-icon>
              <span class="nav-label">Mis reportes</span>
              <ng-md-icon class="fa fa-chevron-right arrow"></ng-md-icon>
            </span>
          </a>
          <ul class="nav nav-second-level">
            <li><a
            ui-sref="reports.activities"
            ui-sref-active="active"
            >Actividades</a></li>
            <li ng-hide="role == 'Customer'"><a
            ui-sref="reports.expenses"
            ui-sref-active="active"
            >Gastos</a></li>
          </ul>
        </li>
        <li
        data-ng-class="{open: $state.includes('summary')}" ng-if="role == 'Admin' || role == 'Customer'">
          <a href="">
            <span class="inner">
              <ng-md-icon class="fa fa-file-text icono"></ng-md-icon>
              <span class="nav-label">Informes</span>
              <ng-md-icon class="fa fa-chevron-right arrow"></ng-md-icon>
            </span>
          </a>
          <ul class="nav nav-second-level ">
            <li>
              <a
              ui-sref="summary.activities"
              ui-sref-active="active">
              Actividades</a>
            </li>
            <!-- <li ng-if="role == 'Admin'">
              <a
              ui-sref="summary.expenses"
              ui-sref-active="active">
              Gastos</a>
            </li> -->
          </ul>
        </li>
        <li
        data-ng-class="{open: $state.includes('stats')}" ng-if="role == 'Admin' || role == 'Customer'">
          <a href="">
            <span class="inner">
              <ng-md-icon class="fa fa-bar-chart icono"></ng-md-icon>
              <span class="nav-label">Métricas</span>
              <ng-md-icon class="fa fa-chevron-right arrow"></ng-md-icon>
            </span>
          </a>
          <ul class="nav nav-second-level ">
            <li>
              <a
              ui-sref="stats.activities"
              ui-sref-active="active">
              Actividades</a>
            </li>
            <!-- <li ng-if="role == 'Admin'">
              <a
              ui-sref="stats.expenses"
              ui-sref-active="active">
              Gastos</a>
            </li> -->
          </ul>
        </li>
        <li
        data-ng-class="{open: $state.includes('data')}" ng-if="role == 'Admin'">
          <a href="">
            <span class="inner">
              <ng-md-icon class="fa fa-database icono"></ng-md-icon>
              <span class="nav-label">Base de datos</span>
              <ng-md-icon class="fa fa-chevron-right arrow"></ng-md-icon>
            </span>
          </a>
          <ul class="nav nav-second-level ">
            <li>
              <a
              ui-sref="data.users"
              ui-sref-active="active">
              Lista de Usuarios</a>
            </li>
            <li>
              <a
              ui-sref="data.create"
              ui-sref-active="active">
              Crear Usuario</a>
            </li>
            <li>
              <a
              ui-sref="data.companies"
              ui-sref-active="active">
              Compañías</a>
            </li>
            <li>
              <a
              ui-sref="data.activities"
              ui-sref-active="active">
              Actividades</a>
            </li>
          </ul>
        </li>
        <li
        data-ng-class="{open: $state.includes('user')}">
          <a href="">
            <span class="inner">
              <ng-md-icon class="fa fa-user icono"></ng-md-icon>
              <span class="nav-label">Mis datos</span>
              <ng-md-icon class="fa fa-chevron-right arrow"></ng-md-icon>
            </span>
          </a>
          <ul class="nav nav-second-level ">
            <li>
              <a
              ui-sref="user.datos"
              ui-sref-active="active">
              Datos personales</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </aside>

  <header class="header" id="header-admin">
    <div class="display-table">
      <div class="display-table-cell height_100 text-align-left">
        <div class="display-inline wrapper-logo">
          <div class="display-inline">
            <a ui-sref="user.datos" title="ImpactBTL" class="logo">
              <img src="/logo-purple.png" width="52" alt="Wit U" />
            </a>
          </div>
        </div>
      </div>
      <div class="display-table-cell height_100 text-align-right">
        <div class="display-inline">
            <menu-drop-down></menu-drop-down>
        </div>
      </div>
    </div>
  </header>
  <header-bread-crumb>
  </header-bread-crumb>
  <main ui-view="content" class="animate-fade-left" id="contenido"></main>
</div>