body {
  font-family: Arial;
  font-size: 16px;
}

button {
  background: rgba(white, .8);
  border: none;
  border-radius: 15px;
  color: $purple;
  cursor: pointer;
  padding: .7em 2em;
}

h2 { font-size: $h2; }

a {
  font-weight: bold;
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}