.main-certificates {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), image-url("certificates-background.jpg") center top;
  background-size: cover;
  padding: 15em 3em 16em;
  text-align: center;

  h1 {
    color: white;
    font-size: 4em;
    margin-bottom: .5em;
  }

  input {
    font-size: 1.2em;
    padding: .3em .8em;
    width: 350px;
  }

  button {
    background-color: $purple;
    color: white;
  }

  ::-webkit-input-placeholder {
    color: $medium-gray;
  }

  :-moz-placeholder { /* Firefox 18- */
    color: $medium-gray;
  }
  ::-moz-placeholder {  /* Firefox 19+ */
    color: $medium-gray;
  }

  :-ms-input-placeholder {
    color: $medium-gray;
  }
}

@media screen and (max-width: 480px) {
  .main-certificates button {
    margin-top: 1em;
    width: 100%;
  }

  .main-certificates input {
    box-sizing: border-box;
    width: 100%;
  }
}