<% content_for :body_class, 'public-money' %>

<section class="main-certificates">
  <h1>Verificación de certificados</h1>
  <input type="text" name="" placeholder="Digita el código de certificación" />
  <button>Validar</button>
</section>